<div class="contents master-tags-index">
  <div class="master-tags-index--messages"></div>
  <h2>タグ一覧</h2>
  <div class="master-tags-index__list" id="master-tags-index--tag-list">
    <%= render @tags %>
  </div>
  <div class="master-tags-index__form">
    <%= form_with model: @tag, url: master_tags_path(@tag) do |f| %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
