// Place all the styles related to the public/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

// 共通
// index
.public-reservations-index {

  table {
    margin: 0 auto;
  }
  h2 {
    text-align: center;
  }
}

// new
.public-reservations-new {

  #reservation_people {
    width: 3em;
  }
}

// スマホ
@media (max-width: $media-sp-max) {
}

// スマホ・タブレット共通
@media (max-width: $media-tb-max) {
}

// タブレット
@media (min-width: $media-tb-min) and (max-width: $media-tb-max) {
}

// PC・タブレット共通
@media (min-width: $media-tb-min) {
}

// PC
@media (min-width: $media-pc-min) {
}
