<div class="contents public-users-registrations-email_notice">
  <p>
    仮登録受け付けメールをご入力いただいたメールアドレス(<%= params[:email] %>)に送信しました。<br>
    記載のリンクにアクセスいただくことで本登録が完了となります。
  </p>
  <br>
  <p>
    メールが届かない場合は、ご確認のうえ再度ご入力をいただくか、迷惑メールボックスのご確認、ドメイン(matchi-gourmet.com)の許可設定をお願い致します。<br>
    再送信は<%= link_to 'こちら', new_user_confirmation_path %>からも行えます。
  </p>
</div>
