<% if @current_restaurant == @restaurant %>
  <div class="contents owner-menus-edit">
    <h2 class="menus-edit-h2">メニュー編集</h2>
    <%= render partial: 'shared/messages/error_messages', locals: { model: @menu } %>
    <%= render partial: 'form', locals: {
      current_restaurant: @current_restaurant,
      menu: @menu,
      url: owner_restaurant_menu_path,
      method: :patch,
      tags: @tags,
      menu_tags: @menu_tags,
      submit: '更新'
    } %>
  </div>
<% else %>
  <p>権限がありません。</p>
<% end %>
