<div class="public-homes-about">
  <div class="public-homes-about__contents">
    <h2>About This Service</h2>
    <p>
      当サイトでは飲食店の事前予約ができます。<br><br>
      そして、次のような特徴があります。
    </p>
    <ul>
      <li>
        <i class="far fa-4x fa-address-card"></i>
        <h3>Trust</h3>
        <p>
          会員未登録でもご予約いただけますが、会員登録をしてもらうと予約数や口コミ数、店舗からの評価数に応じて信用スコアが高まります。<br><br>
          信用スコアに応じて独自のクーポンが発行されたり、独自のメニューをお楽しみいただけるなどの特典をご用意しております。
        </p>
        <%= link_to '登録する', new_user_registration_path, class: "btn btn-outline-dark" %>
      </li>
      <li>
        <i class="fas fa-4x fa-ticket-alt"></i>
        <h3>Exclusive</h3>
        <p>
          当サイト限定の割引クーポンや、当サイト限定価格、限定メニューをご用意しております。<br><br>
        </p>
      </li>
      <li>
        <i class="far fa-4x fa-comments"></i>
        <h3>Communication</h3>
        <p>
          店舗予約後はサイト上で店舗と直接やりとりを行うことができます。（店舗によっては対応されていないところもあります。）<br><br>
          会員さん同士でも情報交換などができるよう、専用のプロフィール画面をご用意しておりますので、店舗にも他の会員さんにも自分を知ってもらえるように、プロフィールは常に最新にしておきましょう！
        </p>
      </li>
      <li>
        <i class="fas fa-4x fa-envelope-open-text"></i>
        <h3>Invitation</h3>
        <p>
          利用頻度の高い店舗様から、もしかすると特別なご招待が届くかもしれません。<br><br>
          招待の内容は、試食会、限定メニュー、その他イベントなど様々です。<br><br>
          いつでもご招待を受けられるように、信用スコアを高めておきましょう！
        </p>
      </li>
    </ul>
    <p><%= link_to 'TOPへ', root_path %></p>
  </div>
</div>
