<div class="contents homes-container">
  <div class="public-homes-admin">
    <h2>運営者情報</h2>
    <h3>代表責任者名</h3>
      <p>佐々木正男</p>
    <h3>所在地</h3>
      <p>大阪府門真市五月田町10-14 ルーナ五月田502</p>
    <h3>メールアドレス</h3>
      <a href="mailto:mail@matchi-gourmet.com">mail@matchi-gourmet.com</a>
    <h3>ホームページURL</h3>
    <a href="https://matchi-gourmet.com/">https://matchi-gourmet.com/</a>
    <h3>サイト作成者</h3>
      <p>Masao Sasaki</p>
  </div>
</div>
