<div class="contents public-homes-redirect">
  <p>
    ページの有効期限が切れています。<br>
    このページが何度も表示される場合は、お手数ですが管理者にお問い合わせください。
  </p>
  <% link_to 'TOP画面', root_path %>
  <% if user_signed_in? %>
    <%= link_to 'MyPage', mypage_path %>
  <% else %>
    <%= link_to 'ログイン画面', root_path %>
  <% end %>
</div>
