<h2>お問い合わせを受け付けました！</h2>

------------------------------------------------
<p>ご連絡先: <%= @contact.email %></p>

<p>お問い合わせ内容:<br> <%= safe_join(@contact.message.split("\n"), tag(:br)) %></p>

------------------------------------------------

<p>
原則3営業日以内にお返事致しますが、お時間をいただく場合があります。<br>
また、お問い合わせ内容によってはお返事できかねる場合がございます。
</p>

<small>Matchi運営</small>
