<h2>お問い合わせ内容</h2>

------------------------------------------------
<p>ご連絡先: <%= @contact.email %></p>

<p>お問い合わせ内容:<br> <%= safe_join(@contact.message.split("\n"), tag(:br)) %></p>

------------------------------------------------
