// Place all the styles related to the owner/restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

// 共通
// sessions/new
.owner-restaurants-sessions-new {
  text-align: center;

  h2 {
    margin: 20px 0;
  }
}

// show
.owner-restaurants-show {

  &__status {
    margin: 20px 0;
  }
}

// edit
.owner-restaurants-edit-pc, .owner-restaurants-edit-sp {

  p {
    padding: 0;
  }

  .head {
    border-top: solid 1px $thema-color-font;
  }

  table {
    margin: 0 auto;
  }

  tr > td {
    min-width: 130px;
  }

  th, td {
    padding: 5px;
  }
}

.owner-restaurants-edit--links {
  margin-left: 20px;
  margin-bottom: 20px;
}

// スマホ
@media (max-width: $media-sp-max) {
}

// スマホ・タブレット共通
@media (max-width: $media-tb-max) {
   // edit
  .owner-restaurants-edit-sp {

    &--form {

      .introduction, .completion_message {
        text-align: center;
      }
    }
  }

  .owner-restaurants-edit-pc {
    display: none;
  }
}

// タブレット
@media (min-width: $media-tb-min) and (max-width: $media-tb-max) {
}

// PC・タブレット共通
@media (min-width: $media-tb-min) {
  // show
  .owner-restaurants-show {

    &__status {
      display: flex;
      justify-content: space-between;
      text-align: center;

      &__info, &__confirm {
        flex: 1;

        a {
          display: block;
        }
      }
    }
  }

  // edit
  .owner-restaurants-edit-pc {

    &--form {

      .name, .introduction, .completion_message {
        text-align: center;
      }
    }
  }
}

// PC
@media (min-width: $media-pc-min) {
  // edit
  .owner-restaurants-edit-sp {
    display: none;
  }
}

// owner/restaurants/show
.restaurant-introduction {
  margin: 20px 0;
}

.restaurant_image {
  text-align: center;
  object-fit: cover;
}

// /owner/restaurants
.image-preview img {
  height: 250px;
  object-fit: cover;
}
